{{!-- Go back to homepage --}}
{{> back_link}}
<section>
    {{!-- Post details --}}
    <article class="border-4 border-emerald-400 my-4">
        <div class="article-title flex flex-wrap justify-between bg-emerald-400 p-4 items-center">
            {{!-- Post tile --}}
            <h2 class="font-bold text-2xl">{{post.post_title}}</h2>
            {{!-- Created by --}}
            <h4>Posted by {{post.user.name}} on {{format_date post.date_created}}</h4>
        </div>
        <div class="article-body p-4 text-xl">
            {{!-- Post body --}}
            {{post.post_body}}
        </div> 
        {{!-- Post icons container --}}
        <div class="flex flex-wrap p-4 text-xl gap-x-12">
            {{!-- display number of views --}}
            <div class="flex items-center gap-x-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
                <p>{{post.post_view_count}}</p>
            </div>
            {{!-- display number of comments --}}
            <div class="flex items-center gap-x-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
                </svg>
                <p>{{post.post_comment_count}}</p>
            </div>
        </div>           
    </article>    
    {{!-- Add comment --}}    
    <section class="border-4 flex-col border-emerald-400 my-4 items-center">        
        <article class="flex">
            <form class="w-full p-4">
                <input type="text" id="comment_body" autocomplete="off" placeholder="Add a comment..." class="w-full p-4 text-xl outline-none">
                <input type="hidden" name="post-id" id="post-id" value="{{post.post_id}}">
                <hr>
                <div class="flex justify-end gap-x-6 px-4 mt-4">
                    {{!-- Clear input field and reset class on submit button --}}
                    <button id="comment-reset" class="text-xl p-4 shadow-lg border border-emerald-400 hover:bg-emerald-400 active:shadow-sm transition duration-300">Cancel</button>
                    {{!-- Disable button if input field is empty --}}
                    <button type="submit" id="comment-submit" class="pointer-events-none p-4 text-xl border bg-slate-200 border-emerald-400 hover:bg-emerald-400 transition duration-300">Comment</button>
                </div>
            </form>        
        </article>
        {{!-- Display comments --}}
        <article>
            {{!-- If post contains comments --}}
            {{#if post.comments}}
                {{#each post.comments as |comment|}}
                <div class="p-4">
                    {{!-- Comment body --}}
                    <h4 class="font-medium text-lg">{{comment.comment_body}}
                    {{!-- Created by --}}
                    <h4 class="indent-4">&#8212; Posted by {{comment.user.name}} on {{format_date comment.date_created}}</h4>
                </div>
                {{/each}}
            {{!-- If post has no comments --}}
            {{else}}
                <div class="p-4">
                    <h4 class="font-medium text-lg">No comments to display</h4>
                </div>
            {{/if}}
        </article>
    </section>
</section>

<script src="/js/add-comment.js"></script>
